<div class="" [ngBusy]="{busy: busy, message: 'Calling Ladies...', backdrop: false, delay: 0, minDuration: 500}"></div>

<div class="row">

  <div class="col s12">
    <h4>Ringside Favorites</h4>
    <p [hidden]="isLoading"><em>{{(ladiesList | ladiesSearchFilter:search).length}} Ladies Found</em></p>
  </div>

</div>

<div class="row">
  <div class="col s12 m6 l6">
    <div class="">
      <input class="" type="text" [(ngModel)]="search.name" placeholder="Search Ladies..."/>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m12 l12" *ngFor="let girl of ladiesList | ladiesSearchFilter:search; let i = index">
    <div class="article">

      <div class="card hoverable" (click)="getGirlDetail(girl.id)">
        <div class="card-content">

          <div class="">
            <h4 class="truncate">{{girl.first_name}} {{girl.last_name}}</h4>
            <p>{{girl.city_residing}} {{girl.country_residing}}</p>
            <p [innerHTML]="girl.quote"></p>
            <p>
              <img src="{{girl.medium_profile_picture}}" alt="{{girl.first_name}}" />
            </p>
          </div>

        </div>
      </div>

    </div>

  </div>

</div>

<div [hidden]="isLoading" class="row" *ngIf="(ladiesList | ladiesSearchFilter:search).length === 0">

  <div class="col s12">
    <p><em>No Ladies Found</em></p>
  </div>

</div>
