<div class="row">

  <div class="" [ngBusy]="{busy: busy, message: 'Loading Event Details...', backdrop: false, delay: 0, minDuration: 500}"></div>
  <div class="col s12">
    <button (click)="goBack()" class="waves-effect waves-light btn black">Go Back</button>
  </div>

</div>


<div class="row" [hidden]="isLoading">

  <div class="col s12">
    <div class="card hoverable">
      <div class="card-content">
        <div class="">
          <h4 class="truncate">{{event.base_title}} <small>{{event.subtitle}}</small></h4>
          <p>{{event.arena}} {{event.location}}</p>
          <p>{{event.event_date | date:'longDate'}}</p>
          <p>
            <img src="{{event.feature_image || 'assets/images/placeholder2.jpg'}}" alt="{{event.base_title}}" />
          </p>
          <div class="mapContainer" *ngIf="event.latitude">
            <sebm-google-map class="map"
                             [latitude]="event.latitude"
                             [longitude]="event.longitude"
                             [zoom]="zoom"
                             [draggable]="false">


              <sebm-google-map-marker
                [latitude]="event.latitude"
                [longitude]="event.longitude"
                [label]="A"
                [title]="event.base_title">

                <sebm-google-map-info-window>
                  <p><strong>{{event.base_title}}</strong></p>
                  <p>{{event.subtitle}}</p>
                </sebm-google-map-info-window>

              </sebm-google-map-marker>

            </sebm-google-map>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" [hidden]="isLoading">

  <div class="col s12">
    <div class="card hoverable">
      <div class="card-content">
        <div class="">

          <div class="col s12">
            <h4>Tickets</h4>
          </div>

          <h4 class="truncate">{{tickets.base_title}}</h4>
          <div *ngIf="tickets.ticket_status === 'AVAILABLE'">
            <p>
              Available: {{tickets.ticket_general_sale_date | date:'longDate'}}
            </p>
            <a href="{{tickets.ticketurl}}" target="_blank">Buy Tickets</a>
          </div>
          <div *ngIf="tickets.ticket_status !== 'AVAILABLE'">
            <p>
              <em>Tickets are Either Sold Out or Currently Unavailable.</em>
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="row" [hidden]="isLoading">

  <div class="col s12">
    <h1>Media Coverage</h1>
  </div>

</div>

<div class="row" [hidden]="isLoading">
  <div class="col s12 m12 l12" *ngFor="let media of mediaList; let i = index">
    <div class="article" [hidden]="i >= numberL" *ngIf="i < numberL">

      <div class="card hoverable" (click)="getFighterDetail(media.id)">
        <div class="card-content">

          <div class="">
            <h4 class="truncate">{{media.title}}</h4>
            <p [innerHTML]="media.description"></p>
            <p>
              <img src="{{media.thumbnail}}" alt="{{media.title}}" />
            </p>
            <p>{{media.author}}</p>
            <p>{{media.last_modified | amTimeAgo}}</p>
          </div>

          <p class="websiteLink"><a href="http://www.ufc.com/media/{{media.url_name}}" target="_blank">Full Article</a></p>

        </div>
      </div>

    </div>

  </div>

  <div [hidden]="!loadMoreMediaShown || isLoading" class="col s12">
    <button (click)="loadMoreMedia()" class="waves-effect waves-light btn black">More Media</button>
  </div>

  <div [hidden]="isLoading" class="row" *ngIf="mediaList.length === 0">

    <div class="col s12">
      <p><em>No Media So Far...</em></p>
    </div>

  </div>

</div>


<div class="row" [hidden]="isLoading">

  <div class="col s12">
    <h1>Scheduled Fights</h1>
  </div>

  <div class="col s12 m12 l6" *ngFor="let fight of fightList; let i = index">
    <div class="fights">

      <div class="card hoverable">
        <div class="card-content">

          <div class="center-align">
            <h4 class="truncate">
              <span *ngIf="fight.is_main_event === true">Main Event</span>
              <span *ngIf="fight.is_title_fight === true">Title Fight</span>
              <span *ngIf="fight.is_prelim === true">Preliminary Match</span>
              <span *ngIf="fight.is_prelim !== true && fight.is_prelim !== true && fight.is_main_event !== true">Original Fight</span>
            </h4>
            <p>{{fight.fighter1_first_name || "Unknown"}} {{fight.fighter1_last_name}} VS {{fight.fighter2_first_name || "Unknown"}} {{fight.fighter2_last_name}}</p>
            <p>
              <img src="{{fight.fighter1_profile_image || 'assets/images/placeholder.png'}}" />
              <img src="{{fight.fighter2_profile_image || 'assets/images/placeholder.png' }}" />
            </p>
          </div>

          <p *ngIf="fight.fighter1_first_name" class="websiteLink">
            <a (click)="fightModal.open(); loadFightDetails(fight)">Analyze</a>
          </p>

        </div>
      </div>

    </div>

  </div>

</div>



<mz-modal #fightModal [fixedFooter]="false">
  <mz-modal-header>
    <h4>{{fightDetails.name}}</h4>
  </mz-modal-header>
  <mz-modal-content>

  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" class="mod" mz-modal-close>Close</button>
  </mz-modal-footer>
</mz-modal>
