<div class="row">

  <div class="col s12">
    <h4>Events</h4>
    <p [hidden]="isLoading"><em>{{(eventsList | eventSearchFilter:search).length}} Events Found</em></p>
  </div>

</div>

<div class="row">
  <div class="col s12 m6 l6">
    <div class="">
      <input class="" type="text" [(ngModel)]="search.name" placeholder="Search Events..."/>
    </div>
  </div>
</div>

<div class="row">
  <div class="" [ngBusy]="{busy: busy, message: 'Getting Events...', backdrop: false, delay: 0, minDuration: 500}"></div>
  <div class="col s12 m6 l4" *ngFor="let event of eventsList | eventSearchFilter:search; let i = index">
    <div class="article" [hidden]="i >= eventsLength" *ngIf="i < eventsLength" (click)="getEventDetails(event.id)">

      <div class="card hoverable">
        <div class="card-content">

          <div class="center-align">
            <h4 class="truncate">{{event.base_title}}</h4>
            <p>{{event.arena}} {{event.location}}</p>
            <p>{{event.event_dategmt | date:'longDate' }}</p>
            <p>
              <img src="{{event.feature_image}}" />
            </p>
            <p>{{event.subtitle}}</p>
            <p>{{event.created | amTimeAgo:false}}</p>
          </div>

          <p class="websiteLink"><a href="http://www.ufc.com/news/{{event.url_name}}" target="_blank">Full Article</a></p>


        </div>
      </div>

    </div>

  </div>


</div>

<div [hidden]="isLoading" class="row" *ngIf="(eventsList | eventSearchFilter:search).length === 0">

  <div class="col s12">
    <p><em>No Events Found</em></p>
  </div>

</div>

<div class="search-results"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="1500"
     (scrolled)="loadMoreEvents()">
</div>
