/* You can add global styles to this file, and also import other style files */


/* headroom css */

.slide {
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out
}
.slide--reset {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0)
}
.slide--up {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%)
}

.topScroll {
  cursor:pointer;
}

.collapser {
  display: none;
}

#sidenav-overlay {
  z-index: 996 !important;
}

.side-nav img {
  max-width: 100%;
  margin-bottom: -1.9em;
}

.side-nav {
  z-index:999 !important;
}

nav ul a {
  text-transform: uppercase;
  letter-spacing: .1em;
  color:white;
}

.title-text, nav ul a, a {
  transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
}

.active-link {
  color:red !important;
}

.websiteLink {
  position: absolute;
  bottom: 1em;
  right: 50%;
  width: 200px;
  margin-right: -100px !important;
  text-align:center;
}

.ngx-pagination .current {
  background: red !important;
}

.ngx-pagination li {
  cursor:pointer;
}

.page-footer {
  background:url('assets/images/wall1.jpg') top center;
  background-size:100%;
}

.page-footer .footer-copyright {
  opacity:0.7;
}

@media(max-width:992px) {
  .collapser {
    display: block;
  }

  .brand-logo {
    margin-left: -100px;
  }

  .float-right, .float-left {
    float: none;
    padding-right: 0;
    text-align: center;
  }

  .moreButton {
    display: block;
  }

}


@media(max-width:767px) {
  .title-text {
    display:none;
  }

  .brand-logo {
    margin-left: 0;
  }
}
