<div class="col s12">
  <div class="banner">
    <owl-carousel
      [options]="{items: 1, dots: true, navigation: false, autoplay: true, loop:true}"
      [items]=""
      [carouselClasses]="['owl-theme', 'row', 'sliding']">
      <div class="item center-align">
        <img src="assets/images/wall1.jpg" />
      </div>
      <div class="item center-align">
        <img src="assets/images/wall1.jpg" />
      </div>
      <div class="item center-align">
        <img src="assets/images/wall1.jpg" />
      </div>
    </owl-carousel>
  </div>
</div>


<div class="" [ngBusy]="{busy: busy, message: 'Loading Content...', backdrop: false, delay: 0, minDuration: 500}"></div>

<div class="topHeadlinesBg">
  <div class="row">

    <div class="col s12">
      <h1 class="float-left">Current Champions</h1>
    </div>

  </div>

  <div class="championsList">
    <owl-carousel
      [options]="{items: 6, dots: true, navigation: false, autoplay: true, loop:true, responsive:{'1300':{items:4},'1000':{items:3},'500':{items:2},'0':{items:2}}}"
      [items]="champions"
      [carouselClasses]="['owl-theme', 'row', 'sliding']">
      <div class="item center-align" *ngFor="let fighter of champions; let i = index">

        <div class="card hoverable">
          <div class="card-content">

            <div class="center-align">
              <h4 class="truncate">{{fighter.first_name}} {{fighter.last_name}}</h4>
              <p>{{fighter.nickname || "No Nickname" }}</p>
              <p>
                <img src="{{fighter.belt_thumbnail}}" />
              </p>
              <p>{{fighter.weight_class | symbolRemoval:'_'}}</p>
            </div>

            <!--<p class="websiteLink"><a href="{{fighter.link}}" target="_blank">Full Profile</a></p>-->

          </div>
        </div>

      </div>
    </owl-carousel>
  </div>
</div>

<div class="eventsBg">
  <div class="row">

    <div class="col s12">
      <h1 class="float-left">Events</h1>
    </div>

  </div>


  <div class="eventsList">
    <div class="row">

      <div class="col s12">

        <div class="col s12 center-align">
          <pagination-controls id="events" (pageChange)="p1 = $event"></pagination-controls>
        </div>

        <div class="col s12 m6 l6" *ngFor="let event of events  | paginate: { id: 'events', itemsPerPage: 4, currentPage: p1 }; let i = index">
          <div class="article" (click)="getEventDetails(event.id)">

            <div class="card hoverable">
              <div class="card-content">

                <div class="center-align">
                  <h4 class="truncate">{{event.base_title}}</h4>
                  <p>{{event.arena}} {{event.location}}</p>
                  <p>{{event.event_dategmt | date:'longDate' }}</p>
                  <p>{{event.subtitle}}</p>
                  <p>{{event.created | amTimeAgo:false}}</p>
                </div>

                <p class="websiteLink"><a href="http://www.ufc.com/news/{{event.url_name}}" target="_blank">Full Article</a></p>


              </div>
            </div>

          </div>

        </div>

        <div class="col s12 center-align">
          <pagination-controls id="events" (pageChange)="p1 = $event"></pagination-controls>
        </div>



      </div>
    </div>
  </div>


</div>

<div class="FightersBg">

  <div class="row">

    <div class="col s12">
      <h1 class="float-right">Fighters of the Week</h1>
    </div>

  </div>

  <div class="fightersList">
    <owl-carousel
      [options]="{items: 6, dots: true, navigation: false, autoplay: true, loop:true, autoplayTimeout:4000, responsive:{'1300':{items:4},'1000':{items:3},'500':{items:2},'0':{items:2}}}"
      [items]="fotw"
      [carouselClasses]="['owl-theme', 'row', 'sliding']">
      <div class="item center-align" *ngFor="let fighter of fotw; let i = index">

        <div class="card hoverable" (click)="getFighterDetail(fighter.id)">
          <div class="card-content">

            <div class="center-align">
              <h4 class="truncate">{{fighter.first_name}} {{fighter.last_name}}</h4>
              <p>{{fighter.nickname || "No Nickname"}}</p>
              <p>
                <img src="{{fighter.profile_image}}" />
              </p>
              <p>{{fighter.weight_class | symbolRemoval:'_' || "No Weight Class Specified"}}</p>
            </div>

            <p class="websiteLink"><a href="{{fighter.link}}" target="_blank">Full Profile</a></p>

          </div>
        </div>

      </div>
    </owl-carousel>
  </div>

</div>

<div class="communityBg">
  <div class="row">

    <div class="col s12 center-align">
      <h1 class="float-left">Community</h1>
    </div>

  </div>

  <div class="communityList">
    <div class="row">

      <div class="col s12">

        <div class="col s12 center-align">
          <pagination-controls id="reddit" (pageChange)="p = $event"></pagination-controls>
        </div>

        <ul class="collection">
          <li class="collection-item avatar" *ngFor="let item of reddit | paginate: { id: 'reddit', itemsPerPage: 5, currentPage: p }; let i = index">
            <img *ngIf="item.data.thumbnail !== 'self'" src="{{item.data.thumbnail || 'assets/images/placeholder.png'}}" alt="" class="circle">
            <img *ngIf="item.data.thumbnail === 'self'" src="assets/images/placeholder.png" alt="" class="circle">
            <a href="{{item.data.url}}" class="" target="_blank">
              <span class="title" [innerHTML]="item.data.title"></span> ({{item.data.created | amFromUnix | amDateFormat:'LL hh:mmA' }})
            </a>
            <p [innerHTML]="item.data.selftext | truncate : 100 "></p>
            <p>{{item.data.author}}</p>
            <a href="{{item.data.url}}" class="secondary-content" target="_blank"><i mz-icon-mdi [icon]="'send'"></i></a>
          </li>
        </ul>

        <div class="col s12 center-align">
          <pagination-controls id="reddit" (pageChange)="p = $event"></pagination-controls>
        </div>

      </div>
    </div>
  </div>


</div>

<div class="techBg">
  <div class="row">

    <div class="col s12">
      <h1 class="float-right">Our Technical Assistants</h1>
    </div>

  </div>

  <div class="techList">
    <owl-carousel
      [options]="{items: 6, dots: true, navigation: true, autoplay: true, autoplayTimeout:7000, loop:true, responsive:{'1300':{items:4},'1000':{items:3},'500':{items:2},'0':{items:2}}}"
      [items]="ladies"
      [carouselClasses]="['owl-theme', 'row', 'sliding']">
      <div class="item center-align" *ngFor="let girl of ladies; let i = index">

        <div class="card hoverable" (click)="getGirlDetail(girl.id)">
          <div class="card-content">

            <div class="center-align">
              <h4 class="truncate">{{girl.first_name}} {{girl.last_name}}</h4>
              <p>{{girl.city_residing}} {{girl.country_residing}}</p>
              <p [innerHTML]="girl.quote | truncate:40"></p>
              <p>
                <img src="{{girl.medium_profile_picture}}" alt="{{girl.first_name}}" />
              </p>
            </div>

          </div>
        </div>

      </div>
    </owl-carousel>
  </div>

</div>
