.item {
  margin:1em;
}

.banner {
  width:100%;
  height:400px;
  background:url('../../assets/images/wall1.jpg') top center fixed;
  background-size:cover;
  position: relative;
}

.championsList .card .card-content {
  min-height:400px;
  max-height:400px;
}


.newsDate {
  position: absolute;
  bottom: 1em;
  left: 50%;
  width: 250px;
  margin-left: -125px !important;
  font-style: italic;
}


.moreButton {
  font-size: 12pt;
  color: orange;
  cursor: pointer;
}

.communityList {
  max-width:1000px;
  margin:auto;
}

.communityList a {
  color:red;
}

.communityList i {
  color:red;
}
