.item {
  margin:1em;
}

.banner .item {
  margin:0;
}

.banner .item img {
  max-height: 400px;
}

.banner {
  width:100%;
  height:400px;
  position: relative;
}

.championsList .card .card-content {
  min-height:420px;
  max-height:420px;
}

.fightersList .card .card-content {
  min-height:360px;
  max-height:360px;
}

.eventsList .card .card-content {
  min-height:235px;
  max-height:235px;
}

.mediaList .card .card-content {
  min-height:450px;
  max-height:450px;
}

.mediaList .card .card-content img{
  max-height:170px;
}

.techList .card .card-content {
  min-height:455px;
  max-height:455px;
}

.techList .card .card-content img{
  max-width: 88%;
  margin: auto;
}

.newsDate {
  position: absolute;
  bottom: 1em;
  left: 50%;
  width: 250px;
  margin-left: -125px !important;
  font-style: italic;
}


.moreButton {
  font-size: 12pt;
  color: orange;
  cursor: pointer;
}

.communityList {
  max-width:1000px;
  margin:auto;
}

.communityList a {
  color:red;
}

.communityList i {
  color:red;
}

.moreMedia, h4 {
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
}

.moreMedia {
  font-size:50% !important;
}

.moreMedia:hover, .card .card-content:hover h4 {
  color: red;
  cursor:pointer;
}


h1 {
  margin-left: .1em;
}
