<div class="row">

  <div class="col s12">
    <h4>Title Holders</h4>
    <p [hidden]="isLoading"><em>{{(titleHoldersList | fighterSearchFilter:search).length}} Holders Found</em></p>
  </div>

</div>

<div class="row">
  <div class="col s12 m6 l6">
    <div class="">
      <input class="" type="text" [(ngModel)]="search.name" placeholder="Search Title Holders..."/>
    </div>
  </div>
  <div class="col s12 m6 l6">
    <div class="">
      <mz-dropdown
        [id]="'dropL'"
        [align]="'left'"
        [constrainWidth]="false"
        [dropdownButtonId]="'dropTitle'"
        [gutter]="true"
        [hover]="true"
        [inDuration]="300"
        [outDuration]="300"
        [stopPropagation]="true"
      >
        <mz-dropdown-item *ngFor="let title of titles; let i = index">
          <a (click)="onSearchTitle(title)">{{title.title}}</a>
        </mz-dropdown-item>
      </mz-dropdown>

      <a mz-button id="dropTitle" href="#">{{selectedTitle || "Titles"}}</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="" [ngBusy]="{busy: busy, message: 'Getting Title Holders...', backdrop: false, delay: 0, minDuration: 500}"></div>
  <div class="col s12 m6 l6" *ngFor="let fighter of titleHoldersList | fighterSearchFilter:search; let i = index" (click)="getFighterDetail(fighter.id)">
    <div class="article">

      <div class="card hoverable">
        <div class="card-content">

          <div class="center-align">
            <h4 class="truncate">{{fighter.first_name}} {{fighter.last_name}}</h4>
            <p>{{fighter.nickname}}</p>
            <p>
              <img src="{{fighter.belt_thumbnail}}" />
            </p>
            <p>{{fighter.weight_class | symbolRemoval:'_'}}</p>
          </div>

          <p class="websiteLink"><a href="{{fighter.link}}" target="_blank">Full Profile</a></p>

        </div>
      </div>

    </div>

  </div>
</div>

<div [hidden]="isLoading" class="row" *ngIf="(titleHoldersList | fighterSearchFilter:search).length === 0">

  <div class="col s12">
    <p><em>No Title Holders Found</em></p>
  </div>

</div>
