
<div class="row">

  <div class="col s12">
    <h4>Our Fighters</h4>
    <p [hidden]="isLoading"><em>{{(fighterList | fighterSearchFilter:search).length}} Fighters Found</em></p>
  </div>

</div>


<div class="row">
  <div class="col s12 m6 l6">
    <div class="">
      <input class="" type="text" [(ngModel)]="search.name" placeholder="Search Fighters..."/>
    </div>
  </div>
  <div class="col s12 m6 l6">

    <div class="col s12 m6 l6 no-padding">
      <div class="">
        <mz-dropdown
          [id]="'dropL'"
          [align]="'left'"
          [constrainWidth]="false"
          [dropdownButtonId]="'dropTitle'"
          [gutter]="true"
          [hover]="true"
          [inDuration]="300"
          [outDuration]="300"
          [stopPropagation]="true"
        >
          <mz-dropdown-item *ngFor="let title of titles; let i = index">
            <a (click)="onSearchTitle(title)">{{title.title}}</a>
          </mz-dropdown-item>
        </mz-dropdown>

        <a mz-button id="dropTitle" href="#" class="red">{{selectedTitle || "Titles"}}</a>
      </div>
    </div>

    <div class="col s12 m4 l4 no-padding">
      <div class="">
        <mz-dropdown
          [id]="'dropS'"
          [align]="'left'"
          [constrainWidth]="false"
          [dropdownButtonId]="'dropStatus'"
          [gutter]="true"
          [hover]="true"
          [inDuration]="300"
          [outDuration]="300"
          [stopPropagation]="true"
        >
          <mz-dropdown-item>
            <a (click)="onSearchStatus('Active')">Active</a>
          </mz-dropdown-item>
          <mz-dropdown-item>
            <a (click)="onSearchStatus('NotFighting')">InActive</a>
          </mz-dropdown-item>
        </mz-dropdown>

        <a mz-button id="dropStatus" href="#" class="red">{{selectedStatus || "Status"}}</a>
      </div>
    </div>

    <div class="col s12 m2 l2 no-padding">
      <a mz-button (click)="onSearchClear()" class="red">Clear</a>
    </div>

  </div>
</div>

<div class="row">
  <div class="" [ngBusy]="{busy: busy, message: 'Getting Fighters...', backdrop: false, delay: 0, minDuration: 500}"></div>
  <div class="col s12 m6 l4" *ngFor="let fighter of fighterList | fighterSearchFilter:search; let i = index">
    <div class="article" [hidden]="i >= numberL" *ngIf="i < numberL">

      <div class="card hoverable" (click)="getFighterDetail(fighter.id)">
        <div class="card-content">

          <div class="center-align">
            <h4 class="truncate">{{fighter.first_name}} {{fighter.last_name}}</h4>
            <p>{{fighter.nickname || "No Nickname" }}</p>
            <p>
              <img src="{{fighter.profile_image}}" />
            </p>
            <p>{{fighter.weight_class | symbolRemoval:'_' || "No Weight Class Specified"}}</p>
          </div>

          <p class="websiteLink"><a href="{{fighter.link}}" target="_blank">Full Profile</a></p>

        </div>
      </div>

    </div>

  </div>
</div>

<div [hidden]="isLoading" class="row" *ngIf="(fighterList | fighterSearchFilter:search).length === 0">

  <div class="col s12">
    <p><em>No Fighters Found</em></p>
  </div>

</div>

<div class="search-results"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="1500"
     (scrolled)="getMoreFighters()">
</div>
